{% extends 'quiz/base.html' %}
{% block content %}
{% if user.is_superuser %}

<h1>All user results:</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">username</thscope>
        <th scope="col">quiz name</th>
        <th scope="col">result</th>
        <th scope="col">date</th>
    </tr>
    </thead>
    <tbody>
    {%for user_result in user_results%}
    <tr>
        <th scope="row">{{user_result.user.username}}</th>
        <th scope="row">{{user_result.quiz.quiz_name}}</th>
        <td><a href="/quiz/yourresult/{{user_result.id}}">{{user_result.score}}</a></td>
        <td>{{user_result.submission_date}}</td>
    </tr>
    {%endfor%}

    </tbody>
</table>
{% else %}
<h3>permission denied</h3>
{% endif %}
{% endblock content %}

