{% extends 'quiz/base.html' %}
{% block content %}
{% load static %}
<div class="row justify-content-center">
    <div class="form-group col-sm-6">
        <h1>{{ quiz.quiz_name }}</h1>
        <hr>

        <form id="sendquiz" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {% for question in quiz.question_set.all%}
            <div class="panel-body" id={{question.id}}> {{question.question_text}} :</div>
            <div class="form-group col-sm-6">
                {% for answer in question.answer_set.all %}
                {% if question.question_type != 'text'%}

                <div class="{{question.question_type}}">
                    <label>
                        <input type="{{question.question_type}}" name="question{{question.id}}"
                               value="{{answer.choice_text}}">
                        {{answer.choice_text}}
                    </label>
                </div>
                {%else%}
                <div class="form-group">
                    <input type="text" class="form-control" name="question{{question.id}}">
                    <span class="bmd-help">input answer here.</span>
                </div>
                {% endif%}

                {%endfor%}
            </div>
            {%endfor%}
            <button type="submit" class="btn btn-outline-success">SUBMIT</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    var quiz_id = '{{quiz.id}}';
    var user_id = '{{user.id}}';
</script>
<script type="text/javascript" src="{% static 'quiz/quiz_take.js' %}"></script>
{% endblock content %}

