{% extends 'quiz/base.html' %}
{% block content %}
<h1>Your results, {{user.username}}!</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">quiz name</th>
        <th scope="col">result</th>
        <th scope="col">date</th>
    </tr>
    </thead>
    <tbody>
    {%for user_result in user_results%}
    <tr>
        <th scope="row">{{user_result.quiz.quiz_name}}</th>
        <td><a href="/quiz/yourresult/{{user_result.id}}">{{user_result.score}}</a></td>
        <td>{{user_result.submission_date}}</td>
    </tr>
    {%endfor%}

    </tbody>
</table>
{% endblock content %}
